<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mapper.TodoHistoryMapper">

    <insert id="insert" parameterType="com.example.todo.model.TodoHistory"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo_histories (todo_id, action, detail, actor, created_at)
        VALUES (#{todoId}, #{action}, #{detail}, #{actor}, #{createdAt})
    </insert>

    <delete id="deleteByTodoId">
        DELETE FROM todo_histories
        WHERE todo_id = #{todoId}
    </delete>

</mapper>
